<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628529877334-5tm8j41qcs3kpc7a3cf2usiqs19fpbeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628529877334-5tm8j41qcs3kpc7a3cf2usiqs19fpbeo</string>
	<key>API_KEY</key>
	<string>AIzaSyDiYzJl2-OlSgU4MgNYCdK4pg_IS8on3Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>628529877334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loadingscreenstudios.qrinventory</string>
	<key>PROJECT_ID</key>
	<string>flutter-qrinventory</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-qrinventory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628529877334:ios:f7254dbf6f6449f73486f7</string>
</dict>
</plist>